[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"antlr4-python3-runtime" = "*"
argparse = "*"
networkx = "*"
"z3-solver" = "*"
PyInstaller = "*"
setuptools = "*"

[dev-packages]
"autopep8" = "*"
black = "*"
pylint = "*"
cached-property = "*"
rope = "*"

[pipenv]
allow_prereleases = true
