[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"antlr4-python3-runtime" = "*"
argparse = "*"
networkx = "*"
"z3-solver" = "*"
pygraphviz = "*"
absl-py = "==0.6.1"
astor = "==0.7.1"
gast = "==0.2.1"
grpcio = "==1.17.1"
h5py = "==2.9.0"
kiwisolver = "==1.0.1"
matplotlib = "==3.0.2"
numpy = "==1.15.4"
pandas = "==0.23.4"
protobuf = "==3.6.1"
pyparsing = "==2.3.0"
python-dateutil = "==2.7.5"
pytz = "==2018.7"
scikit-learn = "==0.20.2"
scipy = "==1.2.0"
six = "==1.12.0"
sklearn = "==0.0"
tensorboard = "==1.12.2"
tensorflow = "==1.12.0"
termcolor = "==1.1.0"
tqdm = "==4.29.0"
PyInstaller = "*"
Cycler = "==0.10.0"
Keras = "==2.2.4"
Keras-Applications = "==1.0.6"
Keras-Preprocessing = "==1.0.5"
Markdown = "==3.0.1"
Pillow = "==6.2.1"
PyYAML = "==3.13"
Werkzeug = "==0.14.1"

[dev-packages]
"autopep8" = "*"
black = "*"
pylint = "*"
cached-property = "*"
rope = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
